<%= link_to ticket_path(ticket.id), class: "card-link" do %>
  <div class="col-xs-12 no-padding">
    <div class="card">
      <div class="card-car-icon">
        <i class="material-icons car-size-big">
          directions_car
        </i>
      </div>
      <% unless ticket.exit? %>
      <div class="card-car-central">
        <div class="card-car-central-main">
          <%= ticket.vehicle.plate.upcase %>
        </div>
        <div class="card-car-central-sec">
          <%= parking_time(ticket.entry) %>
          <%#= "Registrado hace " + distance_of_time_in_words_to_now(ticket.entry, include_seconds: true) %>
        </div>
      </div>
      <div class="card-car-right">
        <i class="fas fa-ellipsis-v"></i>
      </div>
      <% else %>
      <div class="card-car-central">
        <div class="card-car-central-main">
          <%= ticket.vehicle.plate.upcase %>
        </div>
        <div class="card-car-central-sec">
          <%= paid_time(ticket.entry, ticket.exit) %>
        </div>
      </div>
      <div class="card-car-right">
        <i class="fas fa-dollar-sign fa-sm"></i>
        <%= humanized_money(money_paid(ticket.entry, ticket.exit, ticket.parking_zone.price_cents)) %>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
