<div class="navbar-wagon">
  <div class="navbar-wagon-item">
      <i class="material-icons navbar-wagon-dropicon">
      menu
      </i>
      <div id="mySidenav" class="sidenav">
        <div class="sidenav-header">
          <h4>Apparki</h4>
        </div>
        <% if user_signed_in? %>
          <a class="closebtn">&times;</a>
          <%= link_to "#" do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
          <% end %>
          <%= link_to "#" do %>
            <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        <% else %>
          <a class="closebtn">&times;</a>
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <% end %>
      </div>
  </div>
  <div class="navbar-wagon-item">
    <h4>Apparki</h4>
  </div>

  <div class="navbar-wagon-item">
    <%= link_to current_user.blank? ? unauthenticated_root_path : authenticated_root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo.png", height: 50 %>
    <% end %>
  </div>
</div>
