<div
  class="show-image"
  style="background-image:
    linear-gradient(rgba(255,255,255, 0),
    rgba(0, 0, 0, 0.4)),
    url(<%= car_picture_or_generic(@ticket.picture)%>);"
>
</div>

<div class="card-container">
  <h5 class="show-title text-center gray-background <%= "red-penalty" if @ticket.status == "reportado" %>">
    <%= @ticket.status != "reportado" ?  "Resumen de la factura:" : "Resumen del reporte:"%>
  </h5>
  <div class="row">
    <div class="col-xs-12 no-padding">
      <div class="card show-row">
        <div class="show-icon">
          <i class="material-icons">
            directions_car
          </i>
        </div>
        <div class="show-row-center">
          Placa del vehículo:
        </div>
        <div class="show-row-right">
          <%= @ticket.vehicle.plate %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 no-padding">
      <div class="card show-row">
        <div class="show-icon">
          <i class="material-icons">
            location_on
          </i>
        </div>
        <div class="show-row-center">
          Zona de parqueo:
        </div>
        <div class="show-row-right">
          <%= @ticket.parking_zone.name %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 no-padding">
      <div class="card show-row">
        <div class="show-icon">
          <i class="material-icons">
            radio_button_checked
          </i>
        </div>
        <div class="show-row-center">
          Ingreso:
        </div>
        <div class="show-row-right">
          <%= "#{@ticket.entry.strftime("%x")}  - #{@ticket.entry.strftime("%R")}"%>
        </div>
      </div>
    </div>
    <div class="col-xs-12 no-padding">
      <div class="card show-row">
        <div class="show-icon">
          <i class="material-icons">
            radio_button_unchecked
          </i>
        </div>
        <div class="show-row-center">
          <%= @ticket.status != "reportado" ?  "Salida:" : "Reporte:"%>
        </div>
        <div class="show-row-right">
          <% if @ticket.exit %>
            <%= "#{(@ticket.exit).strftime("%x")} - #{(@ticket.exit).strftime("%R")}" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 no-padding">
      <div class="card show-row">
        <div class="show-icon">
          <i class="material-icons">
          access_time
          </i>
        </div>
        <div class="show-row-center">
          Horas/Fracciones:
        </div>
        <div class="show-row-right">
          <% count = @ticket.update_charge/@ticket.parking_zone.price %>
          <%= pluralize(count.to_i, "Hora", "Horas") %>
        </div>
      </div>
    </div>
    <% if @ticket.charge_paid_cents > 0 && (@ticket.status == "pendiente" || @ticket.status == "reportado") %>
      <div class="col-xs-12 no-padding">
        <div class="card show-row">
          <div class="show-icon">
          <i class="material-icons">
            spellcheck
          </i>
          </div>
          <div class="show-row-center">
            Anticipo pagado:
          </div>
          <div class="show-row-right">
            <div class="show-total-price">
              <i class="fas fa-dollar-sign fa-sm"></i>
              <%= humanize_price(@ticket.charge_paid_cents) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @vehicle.debt? && @ticket.status == "pendiente"%>
      <div class="col-xs-12 no-padding">
        <div class="card show-row">
          <div class="show-icon">
          <i class="material-icons">
            money_off
          </i>
          </div>
          <div class="show-row-center">
            Deuda:
          </div>
          <div class="show-row-right">
            <div class="show-total-price">
              <div class="green-box red-box">
                <i class="fas fa-dollar-sign fa-sm"></i>
                <%= humanize_price(@vehicle.debt) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-xs-12 no-padding">
      <div class="card show-row">
        <div class="show-total-row">
          <%= @ticket.status != "pendiente" ? "TOTAL:" : "SUBTOTAL:"%>
        </div>
        <div class="show-row-right">
          <div class="show-total-price">
            <div class="green-box <%= "red-box" if @ticket.status == "reportado" %>">
              <i class="fas fa-dollar-sign fa-sm"></i>
              <% if @ticket.status != "pendiente" %>
                <%= humanize_price(@ticket.charge_cents/100) %>
              <% else %>
                <%= humanize_price(@ticket.update_charge + @vehicle.debt - @ticket.charge_paid_cents.to_money) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="show-bottom-menu <%= "hidden" if @ticket.status != "pendiente" %> ">
  <%= simple_form_for(@vehicle) do |f| %>
    <%= f.association :tickets, as: :hidden, input_html: { value: @ticket.id }%>
    <button class="bottom-menu-element bottom-menu-left bottom-menu-btn" type="submit" style="cursor:pointer;">
      <i class="material-icons">
        error_outline
      </i>
      <div class="bottom-menu-option-text">
        Reportar
      </div>
    </button>
  <% end %>
  <div class="bottom-menu-element bottom-menu-center">
    <% string = "com.fidelier.printfromweb://$intro$$intro$$biguhw$TIQUETE DE PARQUEADERO$intro$$intro$->Id del Tiquete: #{@ticket.id}$intro$->Hora ingreso: #{@ticket.entry}$intro$->Placa Del Vehiculo: #{@ticket.vehicle.plate}$intro$->Zona: #{@ticket.parking_zone.name}$intro$->Pago Anticipado: #{@ticket.charge_paid_cents}$intro$$intro$$intro$$cut$$intro$" %>
    <a href="<%= string %>" >
      <i class="material-icons">
        print
      </i>
      <div class="bottom-menu-option-text">
        imprimir
      </div>
    </a>
  </div>
    <%= simple_form_for(@ticket, remote: true) do |f| %>
      <%= f.input :exit, as: :hidden, input_html: { value: Time.zone.now }%>
      <button class="bottom-menu-element bottom-menu-right bottom-menu-btn" type="submit" style="cursor:pointer;">
        <a href="#" id="linkImpresora" class="hidden"></a>
        <i class="material-icons">
          attach_money
        </i>
        <div class="bottom-menu-option-text">
          Generar cobro
        </div>
      </button>
    <% end %>
</div>
